node_modules/
storage/
vendor/
.DS_Store
.env
.idea/
public/js
public/css
public/mix-manifest.json
public/fontawesome
public/storage
public/web.config
resources/js/componentResolver.js
public/Archive*
public/robots.txt
